var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_comment);             // find the comment div and add to the beginning
$('#comment_<%= @comment.id %>').fadeIn('slow'); // animation effect
$('#new_comment')[0].reset();                    // refresh comments part of page
